<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Starship_form_edit" 
        service="Starship" 
        entity="Starship" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #class_type attr="class_type" label="class_type" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #capacity attr="capacity" label="capacity" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="EQUIPMENT-starship_id">
    <div layout-padding>
      <o-table 
        attr="EquipmentTable" 
        service="Equipment" 
        entity="Equipment" 
        keys="id"
        parent-keys="starship_id:id"
        columns="name;starship_id;quantity;id"  
        horizontal-scroll="yes"
        detail-form-route="Equipment" 
        edit-form-route="Equipment"
        visible-columns="name;starship_id;quantity;id"  
        sort-columns="name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="starship_id" title="starship_id">
    <o-table-cell-renderer-service attr="starship_id" 
        service="Starship" entity="StarshipType" columns="id;name"
        parent-keys="id:starship_id"
        value-column="name" keys="starship_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #quantity attr="quantity" title="quantity" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="RESERVATION-starship_id">
    <div layout-padding>
      <o-table 
        attr="ReservationTable" 
        service="Reservation" 
        entity="Reservation" 
        keys="id"
        parent-keys="starship_id:id"
        columns="id;crew_member_id;destination_id;mission_id;starship_id;date"  
        horizontal-scroll="yes"
        detail-form-route="Reservation" 
        edit-form-route="Reservation"
        visible-columns="id;crew_member_id;destination_id;mission_id;starship_id;date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="crew_member_id" title="crew_member_id">
    <o-table-cell-renderer-service attr="crew_member_id" 
        service="CrewMember" entity="CrewMemberType" columns="id;name"
        parent-keys="id:crew_member_id"
        value-column="name" keys="crew_member_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="destination_id" title="destination_id">
    <o-table-cell-renderer-service attr="destination_id" 
        service="Destination" entity="DestinationType" columns="id;name"
        parent-keys="id:destination_id"
        value-column="name" keys="destination_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="mission_id" title="mission_id">
    <o-table-cell-renderer-service attr="mission_id" 
        service="Mission" entity="MissionType" columns="id;name"
        parent-keys="id:mission_id"
        value-column="name" keys="mission_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="starship_id" title="starship_id">
    <o-table-cell-renderer-service attr="starship_id" 
        service="Starship" entity="StarshipType" columns="id;name"
        parent-keys="id:starship_id"
        value-column="name" keys="starship_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #date attr="date" type="timestamp" label="date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>