<o-form-layout-manager attr="Transmission" mode="tab" title="TRANSMISSION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="TransmissionTable" 
            service="Transmission" 
            entity="Transmission" 
            title="TRANSMISSION"
            keys="id"
            columns="id;mission_id;content;timestamp" 
            header-actions="R;D"
            visible-columns="id;mission_id;content;timestamp"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="mission_id" title="mission_id">
    <o-table-cell-renderer-service attr="mission_id" 
        service="Mission" entity="MissionType" columns="id;name"
        parent-keys="id:mission_id"
        value-column="name" keys="mission_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #content attr="content" title="content" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #timestamp attr="timestamp" title="timestamp" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>