<o-form-layout-manager attr="HolodeckReservation" mode="tab" title="HOLODECKRESERVATION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="HolodeckReservationTable" 
            service="HolodeckReservation" 
            entity="HolodeckReservation" 
            title="HOLODECKRESERVATION"
            keys="id"
            columns="id;crew_member_id;reserved_from;reserved_to;purpose" 
            header-actions="R;D"
            visible-columns="id;crew_member_id;reserved_from;reserved_to;purpose"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="crew_member_id" title="crew_member_id">
    <o-table-cell-renderer-service attr="crew_member_id" 
        service="CrewMember" entity="CrewMemberType" columns="id;name"
        parent-keys="id:crew_member_id"
        value-column="name" keys="crew_member_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #reserved_from attr="reserved_from" title="reserved_from" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #reserved_to attr="reserved_to" title="reserved_to" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #purpose attr="purpose" title="purpose" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>